<ng-container *ngIf="screen$ | async as screen">
    <div class="container" *ngIf="screen.width >= 667 && screen.height >= 375; else warning">
        <div class="row-container">
            <div class="file-cntainer">
                <app-files></app-files>
                <div class="background-container">
                    <svg>
                        <line x1="0" y1="99%" x2="1%" y2="0%" stroke="black" />
                        <line x1="1%" y1="99%" x2="0%" y2="0%" stroke="black" />
                        <line x1="0.5%" y1="96%" x2="0.5%" y2="2%" stroke="black" />
            
                        <line x1="0.5%" y1="98%" x2="99%" y2="99%" stroke="black" />
                        <line x1="0.5%" y1="99%" x2="99%" y2="99%" stroke="black" />
                        <line x1="0%" y1="99%" x2="98%" y2="98%" stroke="black" />
            
                        <line x1="0%" y1="0%" x2="99%" y2="2%" stroke="black" />
                        <line x1="1%" y1="1%" x2="99%" y2="1%" stroke="black" />
                        <line x1="0%" y1="2%" x2="99%" y2="0%" stroke="black" />
                        
                        <line x1="99.5%" y1="2%" x2="99%" y2="98%" stroke="black" />
                        <line x1="99%" y1="2%" x2="99.8%" y2="98%" stroke="black" />
                        <line x1="100%" y1="2%" x2="99.5%" y2="99%" stroke="black" />
                    </svg>
                </div>
            </div>
            <div class="pads-container">
                <app-pads></app-pads>
                <div class="background-container">
                    <svg>
                        <line x1="0" y1="99%" x2="1%" y2="0%" stroke="black" />
                        <line x1="1%" y1="99%" x2="0%" y2="0%" stroke="black" />
                        <line x1="0.5%" y1="96%" x2="0.5%" y2="2%" stroke="black" />
            
                        <line x1="0.5%" y1="98%" x2="99%" y2="99%" stroke="black" />
                        <line x1="0.5%" y1="99%" x2="99%" y2="99%" stroke="black" />
                        <line x1="0%" y1="99%" x2="98%" y2="98%" stroke="black" />
            
                        <line x1="0%" y1="0%" x2="99%" y2="2%" stroke="black" />
                        <line x1="1%" y1="1%" x2="99%" y2="1%" stroke="black" />
                        <line x1="0%" y1="2%" x2="99%" y2="0%" stroke="black" />
                        
                        <line x1="99.5%" y1="2%" x2="99%" y2="98%" stroke="black" />
                        <line x1="99%" y1="2%" x2="99.8%" y2="98%" stroke="black" />
                        <line x1="100%" y1="2%" x2="99.5%" y2="99%" stroke="black" />
                    </svg>
                </div>
            </div>
        </div>
        <app-scales></app-scales>
    </div>
</ng-container>

<ng-template #warning>
    <div class="container-warning">
        
        <div class="">
            Sorry but your screen to small -_-
        </div>

        <div class="">
            Open on desktop
        </div>

    </div>
</ng-template>