<div class="container">
    <div class="title">Samples</div>
    <mat-accordion>
      <!-- Pads -->
      <mat-expansion-panel *ngFor="let folder of folders$ | async" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{folder.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="samples" *ngFor="let sample of folder.samples">
          <div class="sample-info" (click)="play(sample.src)">
              <span>{{sample.name}}</span>
          </div>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>
</div>