<div class="container">
    <div class="title">Samples</div>
    <mat-accordion>
      <!-- Pads -->
      <mat-expansion-panel class="noselect" *ngFor="let folder of folders" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{folder.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="samples" *ngFor="let sample of folder.samples">
          <div class="sample-info">
              <div class="sample-name" (click)="play(sample.src)">
                {{sample.sampleName}}
                <div class="background-sample-name">
                  <svg>
                      <!-- left -->
                      <line x1="2%" y1="99%" x2="1%" y2="0%" stroke="black" />
                      <line x1="1%" y1="99%" x2="0%" y2="0%" stroke="black" />
                      <line x1="0.5%" y1="96%" x2="0.5%" y2="2%" stroke="black" />
                      <!-- bottom -->
                      <line x1="0.5%" y1="98%" x2="99%" y2="99%" stroke="black" />
                      <line x1="0.5%" y1="99%" x2="99%" y2="99%" stroke="black" />
                      <line x1="0%" y1="99%" x2="98%" y2="98%" stroke="black" />
                      <!-- top -->
                      <line x1="1%" y1="1%" x2="99%" y2="1%" stroke="black" />
                      <line x1="1%" y1="1%" x2="99%" y2="1.5%" stroke="black" />
                      <line x1="2%" y1="0.5%" x2="100%" y2="1%" stroke="black" />
                      <!-- right -->
                      <line x1="99.5%" y1="2%" x2="99%" y2="98%" stroke="black" />
                      <line x1="99%" y1="1%" x2="99.8%" y2="98%" stroke="black" />
                      <line x1="100%" y1="2%" x2="99.5%" y2="99%" stroke="black" />
                  </svg>
                </div>
              </div>
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="appointToPad(sample.src, 'q', sample.sampleName)">Pad q</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'w', sample.sampleName)">Pad w</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'e', sample.sampleName)">Pad e</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'a', sample.sampleName)">Pad a</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 's', sample.sampleName)">Pad s</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'd', sample.sampleName)">Pad d</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'z', sample.sampleName)">Pad z</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'x', sample.sampleName)">Pad x</button>
                <button mat-menu-item (click)="appointToPad(sample.src, 'c', sample.sampleName)">Pad c</button>
              </mat-menu>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="background-container">
      <svg>
          <!-- left -->
          <line x1="2%" y1="99%" x2="1%" y2="0%" stroke="black" />
          <line x1="1%" y1="99%" x2="0%" y2="0%" stroke="black" />
          <line x1="0.5%" y1="96%" x2="0.5%" y2="2%" stroke="black" />
          <!-- bottom -->
          <line x1="0.5%" y1="98%" x2="99%" y2="99%" stroke="black" />
          <line x1="0.5%" y1="99%" x2="99%" y2="99%" stroke="black" />
          <line x1="0%" y1="99%" x2="98%" y2="98%" stroke="black" />
          <!-- top -->
          <line x1="1%" y1="1%" x2="99%" y2="1%" stroke="black" />
          <line x1="1%" y1="1%" x2="99%" y2="1.5%" stroke="black" />
          <line x1="2%" y1="0.5%" x2="100%" y2="1%" stroke="black" />
          <!-- right -->
          <line x1="99.5%" y1="2%" x2="99%" y2="98%" stroke="black" />
          <line x1="99%" y1="1%" x2="99.8%" y2="98%" stroke="black" />
          <line x1="100%" y1="2%" x2="99.5%" y2="99%" stroke="black" />
      </svg>
    </div>
</div>