.container {
    width: 91.5vw;
    padding: 15px;
    margin: 0.5vw;
    height: 50vh;
    position: relative;

    .background-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}