.container {
    width: 65vw;
    padding: 15px;
    height: 40vh;
    position: relative;
    font-size: 25px;
    .settings {
        margin-bottom: 10px;
        height: 5vh;
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            .volume-container {
                width: 30%;
                padding: 0 10px;
                input {
                    background-color: black;
                }
            }
            .name {
                width: 30%;
                margin: 0 10px;
            }
        }
    }
    .pads-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1vh; 
        place-items: center;
        height: 30vh;
        .pads {
            padding: 5px;
            border-radius: 4%;
            width: 15vw;
            height: 9vh;
            color: rgb(0, 0, 0);
            cursor: pointer;
            position: relative;

            &:hover {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                transition-duration: 200ms;
            }

            .pad {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .pad-name {
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    font-size: 20px;
                }
            }

            .background-pad {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -10;
                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
