<div class="container">
    <div class="settings" >
        <div class="info" *ngIf="currentPad$ | async as currentPad">
            <div class="volume">
                Volume: <mat-slider displayValue value="50"></mat-slider>
            </div>
            <div class="name">
                Sample: {{currentPad.sampleName ? currentPad.sampleName : 'Pad is empty'}}
            </div>
        </div>
    </div>
    <div class="pads-container" *ngIf="pads$ | async as pads">
        <div class="pads noselect" *ngFor="let pad of pads">
            <div class="pad" (click)="palySample(pad.padName)">
                {{pad.padName + ' ' + pad.sampleName}}
            </div>
        </div>
    </div>
    
</div>
